/* MAIN */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* MAIN PRODUCTS */
  .product-container {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* PAGINACION */
  .pagination-control {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.pagination-control button {
    margin: 0 8px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.pagination-control button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.previous {
    background-color: #007bff;
    color: #fff;
}

.next {
    background-color: #007bff;
    color: #fff;
}