/* HERO SECTION */
.hero-section {
    height: 200px;
    background: url("/hero_bg.png");
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
}



.hero-title span:first-child {
    font-size: 20px;
}

.hero-title span:last-child {
    font-size: 50px;
    line-height: 30px;
}

.hero-span {
    color: white;
    font-weight: 700;
}
